﻿<%@ Page Language="VB" AutoEventWireup="false" MasterPageFile ="~/Master.master" CodeFile="Solicitud.aspx.vb" Inherits="Solicitud" %>

<asp:Content ID="Header" ContentPlaceHolderID="head" runat="server"></asp:Content>
<asp:Content ID="Content" ContentPlaceHolderID="Contenido" runat="server">
  
hola mundo
    
    </asp:Content>